[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"discord.py" = "*"
google-api-python-client = "*"
"google-auth-httplib2" = "*"
google-auth-oauthlib = "*"
python-dateutil = "*"
fuzzywuzzy = "*"
sqlalchemy = "*"

[requires]
python_version = "3.5"

[scripts]
start = "python index.py"
